<ion-header [translucent]="true">
  <ion-toolbar color="newcolor">
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        Texto 1
      </ion-col>
      <ion-col>
        Texto 2
      </ion-col>
      <ion-col>
        Texto 3
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        Texto 1
      </ion-col>
      <ion-col>
        Texto 2
      </ion-col>
      <ion-col>
        Texto 3
      </ion-col>
      <ion-col>
        Texto 4
      </ion-col>
      <ion-col>
        Texto 5
      </ion-col>
      <ion-col>
        Texto 6
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


<!--
  <ion-content>
  <div class="container-button">
    <button ion-button [routerLink]="['/customers']" class="btn">Go to customers</button>
  </div>
</ion-content>
-->

<!--
  <ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar color="newcolor">
      <ion-title size="large">home</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
-->



